html
{
    font-family: "verdana"; 
    color: #e7e7e7;
}

body
{
    background: url('bg1.png');
    
}

.navibar 
{
    position: sticky;
    list-style-type: none;
    height:18px;
    width: 98%;
    margin: 0;
    padding: 15px 10px;
    background-color: #004a82;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.active
{
    font: arial;
    display: inline;
    margin-right: 40px;
}

.active a
{
    background-color: #d300cc;
    color: white;
    padding: 10px 9px;
    text-decoration: none;
    border-radius: 10px;
}

.active a:hover
{
    background-color: #e800e1;
}

.not
{
    display: inline;
    margin-right: 40px;
}

.not a
{
    background-color: #004a82;
    color: white;
    padding: 10px 9px;
    text-decoration: none;
}

.not a:hover
{
    background-color: #0063ae;
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.manga1pic
{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url('manga1.png');
    background-size:cover;
    float: left;
    width: 200px;
    min-height: 300px;
    margin-left:10px;
    transition: transform .5s;
}

.manga1pic:hover
{
    transform: scale(1.1);
}

.manga1pic p
{
    color: #ffffff;
    position:sticky;
    top:100%;
    text-align:center;
}

.manga2pic
{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url('manga2.png');
    background-size:cover;
    float: left;
    width: 200px;
    min-height: 300px;
    margin-left:10px;
    transition: transform .5s;
}

.manga2pic:hover
{
    transform: scale(1.1);
}

.manga2pic p
{
    color: #ffffff;
    position:sticky;
    top:100%;
    text-align:center;
}

#date
{
    position:fixed;
    top: 95%;
    left: 77%
}

#time
{
    position:fixed;
    top: 95%;
    left: 89%
}

.description
{
    position:fixed;
    line-height: 30px;
    left: 12%;
}

@media only screen and (max-width: 600px) 
{
    .navibar
    {
        width: 90%;
    }
}