#menu ul
{
	list-style:none;
}

#menu ul li
{
	background-color: #d4d4d4;
	margin:2px;
	margin-left:11px;
	width:210px;
	height:35px;
	text-align:center;
	line-height:35px;
	float:left;
	position:relative;
	z-index:1000;
	border-radius:100px;
}
#menu ul li a
{
	text-decoration:none;
	color:rgb(0, 0, 0);
	display:block;
}
#menu ul li a:hover
{
	background-color:green;
	border-radius:8px;
}
#menu ul ul
{
	position:absolute;
	display:none;
}
#menu ul li:hover > ul
{
	display:block;
}
#menu ul ul ul
{
	margin-left:205px;
	top:0px;
}
#menu ul ul ul li
{
	background-color:blue;
	width:220px;
}
#menu
{
	background-color: #29292a;

}

.left
{
    background-color: #d4d4d4;
    width:200px;
	height:500px;
}

.left ul li
{
	background-image:url(../image/single.jpg);
	margin:2px;
	margin-left:11px;
	width:100px;
	height:35px;
	text-align:center;
	line-height:35px;
	float:left;
	position:relative;
	z-index:1000;
	border-radius:100px;
}

.left ul
{
	list-style:none;
}

.left ul li a
{
	text-decoration:none;
	color:rgb(0, 0, 0);
	display:block;
}

.left ul ul
{
	position:absolute;
	display:none;
}

.left ul li:hover > ul
{
	display:block;
    left: 150px;
    top: -10px;
}

.left {
    float: left;
    margin: 0;
    padding: 1em;
  }

  .content {
    margin-left: 190px;
    border-left: 1px solid #d4d4d4;
    padding: 1em;
    overflow: hidden;
  }

  li a.active {
    background-color: #84e4e2;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #29292a;
    color: white;
  }

.formSearch{
  background-color: #d4d4d4;
	margin:2px;
	margin-left:7%;
	width:500px;
	height:35px;
  text-align: center;
	border-radius:100px;
}

.button{
  margin:2px;
	margin-left:11px;
}

.navbar-brand{
  top: 30px;
  position: relative;
}

.navibar{
  background-color: red;
}

.coffee-variety-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.container-card-title-first,
.container-card-title-second,
.text-of-order-one,
.text-of-order-two {
    padding-right: 1rem;
    padding-left: 1rem;
    border-style: solid;
}

.container-card-title-second
{
  position: relative;
  top: 50px;
}

.card {
    position: relative;
    text-align: center;
}

.center-text-coffee-one,
.center-text-coffee-two,
.center-text-coffee-four {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'playfair display', sans-serif;
    font-size: 1rem;
  
}

.center-text-coffee-three {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #093145;
    font-family: 'playfair display', sans-serif;
    font-size: 1.1rem;
  
}

.coffee-price{
    color:#2B2D42;
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
}


.container-card-title {
    width: 17.8rem;
    height: 9rem;
}